<IfModule mod_rewrite.c>
	RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
   	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^rankear$ rankear.php
	RewriteRule ^ranking$ index.php?__sec=ranking
	RewriteRule ^nada$ index.php?__sec=nada
	RewriteRule ^faq$ index.php?__sec=faq
	RewriteRule ^contacto$ index.php?__sec=contacto
	RewriteRule ^(\d{2}-\d{2}-\d{4})/(\d{2}:\d{2})$ index.php?__fecha=$1&__hora=$2
	RewriteRule ^(\d{1})/(\d{2}-\d{2}-\d{4})/(\d{2}:\d{2})$ index.php?__lugar=$1&__fecha=$2&__hora=$3
	RewriteRule ^(\d{1})$ index.php?__lugar=$1
</IfModule>
